<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /SEMESTRALSO7/public/

    # Si el archivo o directorio existe, servirlo directamente
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirigir todo al index.php
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>